{% extends 'pattern.html' %}

{% block content %}
<section>
    <div class="top_content center">
        <img class="img_top_content" src="/homework_s_10/img/top_content/man.svg" alt="man">
        <div class="title">
            <img class="top_rectangle" src="/homework_s_10/img/top_content/rectangle.png" alt="rectangle">
            <div class="title_text">
                <h1 class="h1">THE BRAND</h1>
                <h2 class="h2">OF LUXERIOUS <p class="h2f">FASHION</p>
                </h2>
            </div>
        </div>
        <nav class="menu m_hidden">
            <h2 class="main">MENU</h2>
            <h2 class="categorie">MAN</h2>
            <p class="prods">Accessories<br>Bags<br>Denim <br>T-Shirts</p>
            <h2 class="categorie">WOMAN</h2>
            <p class="prods">Accessories<br>Jackets & Coats<br>Polos <br>T-Shirts<br>Shirts</p>
            <h2 class="categorie">KIDS</h2>
            <p class="prods">Accessories<br>Jackets & Coats<br>Polos <br>T-Shirts<br>Shirts<br>Bags</p>
        </nav>
    </div>
</section>

<section class="offer center">
    <article class="item">
        <a class="link_offer" href="http://127.0.0.1:5000/footwear/">
            <div class="o_txt">
                <h2 class="subt_offer">30% OFF</h2>
                <h2 class="titl_offer">FOOTWEAR</h2>
            </div>
            <img class="offer_link_img i1" src="/homework_s_10/img/offer/1-for_women.svg" alt="for_women">
        </a>
    </article>
    <article class="item">
        <a class="link_offer" href="http://127.0.0.1:5000/jakets/">
            <div class="o_txt">
                <h2 class="subt_offer">HOT DEAL</h2>
                <h2 class="titl_offer">JAKETS</h2>
            </div>
            <img class="offer_link_img i1" src="/homework_s_10/img/offer/2-for_men.svg" alt="for_men">
        </a>
    </article>
    <article class="item">
        <a class="link_offer" href="http://127.0.0.1:5000/t-shirts/">
            <div class="o_txt">
                <h2 class="subt_offer">NEW ARRIVALS</h2>
                <h2 class="titl_offer">T-SHIRTS</h2>
            </div>
            <img class="offer_link_img i1" src="/homework_s_10/img/offer/3-for_kids.svg" alt="for_kids">
        </a>
    </article>
    <article class="item">
        <a class="link_offer" href="http://127.0.0.1:5000/accessories/">
            <div class="o_txt i4">
                <h2 class="subt_offer">LUXIROUS & TRENDY</h2>
                <h2 class="titl_offer">ACCESORIES</h2>
            </div>
            <img class="offer_link_long_img i1" src="/homework_s_10/img/offer/4-accesories.svg" alt="accesories">
        </a>
    </article>
</section>

<section class="products center">
    <h1 class="prod_title">Fetured Items</h1>
    <h2 class="prod_subtitle">Shop for items based on what we featured in this week</h2>
    <div class="grid_item_prod">
        <a class="item_prod" href="#">
            <img class="img_prod" src="/homework_s_10/img/product/prod_1.svg" alt="prod_1">
            <div class="text_prod">
                <h1 class="title_item_prod">ELLERY X M'O CAPSULE</h1>
                <p class="info_prod">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                    cool
                    Kym Ellery teams up with Moda Operandi.</p>
                <p class="cost_prod">$52.00</p>
            </div>
            <img class="hover" src="/homework_s_10/img/product/Hover.svg" alt="hover">
        </a>
        <a class="item_prod" href="#">
            <img class="img_prod" src="/homework_s_10/img/product/prod_2.svg" alt="prod_2">
            <div class="text_prod">
                <h1 class="title_item_prod">ELLERY X M'O CAPSULE</h1>
                <p class="info_prod">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                    cool
                    Kym Ellery teams up with Moda Operandi.</p>
                <p class="cost_prod">$52.00</p>
            </div>
            <img class="hover" src="/homework_s_10/img/product/Hover.svg" alt="hover">
        </a>
        <a class="item_prod" href="#">
            <img class="img_prod" src="/homework_s_10/img/product/prod_3.svg" alt="prod_3">
            <div class="text_prod">
                <h1 class="title_item_prod">ELLERY X M'O CAPSULE</h1>
                <p class="info_prod">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                    cool
                    Kym Ellery teams up with Moda Operandi.</p>
                <p class="cost_prod">$52.00</p>
            </div>
            <img class="hover" src="/homework_s_10/img/product/Hover.svg" alt="hover">
        </a>
        <a class="item_prod" href="#">
            <img class="img_prod" src="/homework_s_10/img/product/prod_4.svg" alt="prod_4">
            <div class="text_prod">
                <h1 class="title_item_prod">ELLERY X M'O CAPSULE</h1>
                <p class="info_prod">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                    cool
                    Kym Ellery teams up with Moda Operandi.</p>
                <p class="cost_prod">$52.00</p>
            </div>
            <img class="hover" src="/homework_s_10/img/product/Hover.svg" alt="hover">
        </a>
        <a class="item_prod" href="#">
            <img class="img_prod" src="/homework_s_10/img/product/prod_5.svg" alt="prod_5">
            <div class="text_prod">
                <h1 class="title_item_prod">ELLERY X M'O CAPSULE</h1>
                <p class="info_prod">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                    cool
                    Kym Ellery teams up with Moda Operandi.</p>
                <p class="cost_prod">$52.00</p>
            </div>
            <img class="hover" src="/homework_s_10/img/product/Hover.svg" alt="hover">
        </a>
        <a class="item_prod" href="#">
            <img class="img_prod" src="/homework_s_10/img/product/prod_6.svg" alt="prod_6">
            <div class="text_prod">
                <h1 class="title_item_prod">ELLERY X M'O CAPSULE</h1>
                <p class="info_prod">Known for her sculptural takes on traditional tailoring, Australian arbiter of
                    cool
                    Kym Ellery teams up with Moda Operandi.</p>
                <p class="cost_prod">$52.00</p>
            </div>
            <img class="hover" src="/homework_s_10/img/product/Hover.svg" alt="hover">
        </a>

    </div>
    <form action="#">
        <button class="button_prod">Browse All Product</button>
    </form>

</section>
{% endblock %}